In [ ]:
import pandas as pd
df=pd.read_excel("/content/mega_data_cleaning_dataset (1).xlsx")

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [ ]:
df.drop_duplicates(subset='Customer_ID')

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df.drop_duplicates(subset='Email',keep='first')

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Name'].fillna(value='unknown',inplace=True)
df

/tmp/ipython-input-2900861196.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name'].fillna(value='unknown',inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Email'].fillna(value='noemail@example.com',inplace=True)
df

/tmp/ipython-input-265938009.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna(value='noemail@example.com',inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Product_Name'].fillna(value='misc',inplace=True)
df

/tmp/ipython-input-2215971817.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Name'].fillna(value='misc',inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Category'].fillna(value='misc',inplace=True)
df

/tmp/ipython-input-1836837431.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Category'].fillna(value='misc',inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
x=df['Feedback_Score'].median()
df['Feedback_Score'].fillna(value=x,inplace=True)
df

/tmp/ipython-input-2399860531.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Feedback_Score'].fillna(value=x,inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Quantity'].fillna(value='1',inplace=True)
df

/tmp/ipython-input-2030626627.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(value='1',inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df.isnull().sum()

Customer_ID            0
Name                   0
Age                    0
Gender                 0
Country              481
State               1049
City                   0
Email                  0
Signup_Date            0
Account_Status      2483
Product_ID             0
Product_Name           0
Category               0
Price                  0
Discount             973
Quantity               0
Purchase_Date          0
Delivery_Date          0
Payment_Type           0
Feedback_Score         0
Comments            1953
Customer_Loyalty    2539
Last_Login           983
Signup_Channel         0
Total_Purchase         0
dtype: int64

In [ ]:
df[df['Price'] >= 0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[df['Price']==0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[df['Quantity']>=0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[(df['Age'] < 0) | (df['Age'] > 120)]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[(df['Feedback_Score'] < 1) | (df['Feedback_Score'] > 5)]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[df['Delivery_Date'] >= df['Purchase_Date']]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Gender'].replace({'Mle':'Male','f':'Female'},inplace=True)
df

/tmp/ipython-input-362904268.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].replace({'Mle':'Male','f':'Female'},inplace=True)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Payment_Type'] = df['Payment_Type'].str.strip().str.title()
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,Up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,Upi,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,Up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,Upi,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Account_Status'] = df['Account_Status'].str.strip().str.title()
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,Up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,Upi,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,Up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,Upi,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,Up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,Upi,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,Up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,Upi,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[df['Price'] > 500]
df['Price']

0       616.19
1       564.80
2       224.76
3       817.93
4       937.30
         ...
9995    161.31
9996    158.53
9997    -34.54
9998    192.82
9999    372.37
Name: Price, Length: 10000, dtype: float64

In [ ]:
df[df['Feedback_Score'] < 3]
df['Feedback_Score']

0       4.7
1       4.2
2       3.7
3       4.4
4       2.5
       ...
9995    1.2
9996    3.7
9997    4.6
9998    0.3
9999    0.9
Name: Feedback_Score, Length: 10000, dtype: float64

In [ ]:
df[(df['Customer_Loyalty'] == 'VIP') & (df['Total_Purchase'] > 1000)]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,Up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,Upi,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,Up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,Upi,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df[df['Account_Status'] == 'Banned']
df['Account_Status']

0       Inactive
1            NaN
2         Active
3         Active
4            NaN
          ...
9995    Inactive
9996         NaN
9997      Banned
9998    Inactive
9999    Inactive
Name: Account_Status, Length: 10000, dtype: object

In [ ]:
df[(df['Delivery_Date'] - df['Purchase_Date']).dt.days > 7]
df['Delivery_Date']

0      2025-09-10
1      2025-05-29
2      2025-01-30
3      2025-01-24
4      2025-04-26
          ...
9995   2025-03-19
9996   2025-04-12
9997   2025-08-14
9998   2025-03-21
9999   2025-07-01
Name: Delivery_Date, Length: 10000, dtype: datetime64[ns]

In [ ]:
df[df['Category'] == 'Electronics']
df['Category']

0              misc
1          Clothing
2              Misc
3              misc
4       Electronics
           ...
9995           Misc
9996           misc
9997           misc
9998           misc
9999           misc
Name: Category, Length: 10000, dtype: object

In [ ]:
df[df['Country'] == 'India']
df['Country']

0                           NaN
1                        Uganda
2                    Tajikistan
3                         Chile
4                   Timor-Leste
                 ...
9995                 Cape Verde
9996                        NaN
9997    Cocos (Keeling) Islands
9998          Equatorial Guinea
9999                    Albania
Name: Country, Length: 10000, dtype: object

In [ ]:
df[df['Quantity'] > 10]
df['Quantity']

0       12
1        9
2        0
3        9
4        7
        ..
9995    17
9996    -5
9997     4
9998     8
9999    15
Name: Quantity, Length: 10000, dtype: int64

In [ ]:
high_discount = df[df['Discount'] > 50]
display(high_discount)

Empty DataFrame
Columns: [Customer_ID, Name, Age, Gender, Country, State, City, Email, Signup_Date, Account_Status, Product_ID, Product_Name, Category, Price, Discount, Quantity, Purchase_Date, Delivery_Date, Payment_Type, Feedback_Score, Comments, Customer_Loyalty, Last_Login, Signup_Channel, Total_Purchase]
Index: []

[0 rows x 25 columns]

In [ ]:
large_total= df[df['Price'] * df['Quantity'] > 1000]
large_total

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,Up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,Up,2.5,Sport concern entire.,New,NaT,App,6561.10
5,8213,Kristen Harvey,62,Other,Greenland,NaN,South Sheilaborough,jonessusan@gmail.com,2024-12-15,NaN,...,11,2025-09-04,2025-05-22,Cash,3.8,NaN,Returning,2025-04-25,Web,7620.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,8538,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905,Deborah Young,128,Female,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,Upi,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
 df['Total_Purchase'] = df['Price'] * df['Quantity']
 df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,Up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Male,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,Upi,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Male,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,Up,2.5,Sport concern entire.,New,NaT,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Male,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,Upi,4.6,Place our focus television story tonight.,Returning,NaT,App,-138.16
9998,8121,unknown,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaT,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Male,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
df['Discounted_Price'] = df['Price'] - df['Discount']
df['Discounted_Price']

0       580.23
1       517.73
2          NaN
3       788.94
4       897.71
         ...
9995    127.71
9996    139.42
9997    -52.25
9998    153.43
9999    370.25
Name: Discounted_Price, Length: 10000, dtype: float64

In [ ]:
df['Delivery_Duration'] = (df['Delivery_Date'] - df['Purchase_Date']).dt.days
df['Delivery_Duration']

0       159
1       126
2      -190
3       -60
4        -8
       ...
9995     48
9996    -40
9997    177
9998    -70
9999     85
Name: Delivery_Duration, Length: 10000, dtype: int64

In [ ]:
df['Age_Group'] = pd.cut(df['Age'], bins=[0,12,19,59,120], labels=['Child','Teen','Adult','Senior'])
df['Age_Group']

0        Adult
1        Adult
2       Senior
3       Senior
4       Senior
         ...
9995     Child
9996    Senior
9997       NaN
9998    Senior
9999    Senior
Name: Age_Group, Length: 10000, dtype: category
Categories (4, object): ['Child' < 'Teen' < 'Adult' < 'Senior']

In [ ]:
df['Gender_Code'] = df['Gender'].map({'Male':1, 'Female':2, 'Other':3})
df['Gender_Code']

0       3
1       1
2       1
3       2
4       1
       ..
9995    1
9996    2
9997    3
9998    1
9999    1
Name: Gender_Code, Length: 10000, dtype: int64

In [ ]:
df['Account_Status_Code'] = df['Account_Status'].map({'Active':1, 'Inactive':0, 'Banned':-1})
df['Account_Status_Code']

0       0.0
1       NaN
2       1.0
3       1.0
4       NaN
       ...
9995    0.0
9996    NaN
9997   -1.0
9998    0.0
9999    0.0
Name: Account_Status_Code, Length: 10000, dtype: float64

In [ ]:
df['Country'] = df['Country'].str.title()
df['Country']

0                           NaN
1                        Uganda
2                    Tajikistan
3                         Chile
4                   Timor-Leste
                 ...
9995                 Cape Verde
9996                        NaN
9997    Cocos (Keeling) Islands
9998          Equatorial Guinea
9999                    Albania
Name: Country, Length: 10000, dtype: object

In [ ]:
df['Payment_Type'] = df['Payment_Type'].str.title()
df['Payment_Type']

0           Up
1         Cash
2          Upi
3        Debit
4           Up
         ...
9995      Cash
9996    Credit
9997       Upi
9998    Credit
9999      Cash
Name: Payment_Type, Length: 10000, dtype: object

In [ ]:
top_products = df.groupby('Product_Name')['Total_Purchase'].sum().head(5)
top_products

Product_Name
American    23804.05
Congress    37982.33
Democrat    72579.39
I           36947.17
Mr          61450.29
Name: Total_Purchase, dtype: float64

In [ ]:
top_customers = df.groupby('Customer_ID')['Total_Purchase'].sum().head(5)
top_customers

Customer_ID
1    4714.19
2   -1857.22
3    5907.22
4    2144.52
8    7702.23
Name: Total_Purchase, dtype: float64

In [ ]:
avg_discount = df.groupby('Category')['Discount'].mean()
avg_discount

Category
Clothing       19.256855
Electronics    19.930981
Misc           19.426081
misc           20.103203
Name: Discount, dtype: float64

In [ ]:
avg_feedback_cat = df.groupby('Category')['Feedback_Score'].mean()
avg_feedback_cat

Category
Clothing       3.022495
Electronics    3.026078
Misc           2.994045
misc           2.974704
Name: Feedback_Score, dtype: float64

In [ ]:
popular_payment = df['Payment_Type'].mode()[0]
popular_payment

'Upi'

In [ ]:
highest_order = df.loc[(df['Price'] * df['Quantity']).idxmax()]
highest_order

Customer_ID                                         7924
Name                                      Sydney Perkins
Age                                                   44
Gender                                            Female
Country                                          Grenada
State                                       North Dakota
City                                           Ethanberg
Email                  aguilarthomas@garcia-calderon.org
Signup_Date                          2020-02-18 00:00:00
Account_Status                                    Banned
Product_ID                                            29
Product_Name                                       staff
Category                                     Electronics
Price                                              996.0
Discount                                             NaN
Quantity                                              20
Purchase_Date                        2025-08-02 00:00:00
Delivery_Date                        2025-05-20 00:00:00
Payment_Type                                       Debit
Feedback_Score                                       1.2
Comments                                             NaN
Customer_Loyalty                                     New
Last_Login                           2025-10-10 00:00:00
Signup_Channel                                       App
Total_Purchase                                   19920.0
Discounted_Price                                     NaN
Delivery_Duration                                    -74
Age_Group                                          Adult
Gender_Code                                            2
Account_Status_Code                                 -1.0
Name: 6971, dtype: object

In [ ]:
frequent_customers = df['Customer_ID'].value_counts()[df['Customer_ID'].value_counts() > 5]
frequent_customers

Customer_ID
8429    7
4367    6
7157    6
5841    6
5675    6
Name: count, dtype: int64

In [ ]:
sorted_delivery = df.sort_values('Delivery_Duration', ascending=False)
sorted_delivery

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase,Discounted_Price,Delivery_Duration,Age_Group,Gender_Code,Account_Status_Code
1364,8989,Kevin Walsh,61,Female,Burundi,Massachusetts,Lake Allison,xwheeler@yahoo.com,2022-07-30,Inactive,...,Movie knowledge particular.,VIP,2025-03-29,app,8798.13,NaN,278,Senior,2,0.0
5839,4567,Mallory Martinez,48,Female,NaN,North Carolina,Jonesborough,vmason@rodriguez.com,2022-03-23,Active,...,Provide little right everything behind like un...,Returning,NaT,app,-4818.40,970.72,278,Adult,2,1.0
5095,2276,Annette Hernandez,37,Female,Venezuela,Maine,Port Collinberg,lmadden@yahoo.com,2022-07-26,Inactive,...,Song indicate single rock although local recog...,New,2025-06-21,app,1334.79,120.02,278,Adult,2,0.0
3972,2058,Rebecca Schmidt,109,Male,Lao People'S Democratic Republic,NaN,South Bradleychester,noemail@example.com,2025-10-08,NaN,...,Ready stay choose little goal help.,NaN,2025-04-08,web,983.28,249.58,276,Senior,1,NaN
383,7338,Eric Strong,23,Male,Antigua And Barbuda,Massachusetts,Lake Justin,jacksonmichael@bell-adams.com,2022-10-02,NaN,...,Song watch clearly happy stand successful laugh.,Returning,2025-03-28,App,-0.00,-69.12,275,Adult,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6595,3219,David Sanchez,36,Other,Tonga,Ohio,Colemanstad,gary03@rowland-jennings.info,2021-07-26,Active,...,NaN,New,2025-05-01,web,58.92,NaN,-274,Adult,3,1.0
2350,8909,Jacqueline Ross,26,Other,Holy See (Vatican City State),Indiana,Johnport,johnsonzachary@harrison.com,2020-08-18,Inactive,...,Item case eye pick start suffer here wear.,Returning,2025-09-26,Web,-463.82,195.71,-274,Adult,3,0.0
42,7532,Sandra Evans,10,Other,Vanuatu,Montana,Raymondstad,nicholas79@finley.com,2024-06-02,NaN,...,Least interest green sort happy miss current.,Returning,2025-07-06,web,6507.16,570.83,-279,Child,3,NaN
6354,3077,Sara Watkins,62,Male,Georgia,Utah,Terryburgh,gstephens@kim.info,2020-02-20,Banned,...,Future position rate beautiful for.,New,2025-05-09,app,-366.40,39.64,-279,Senior,1,-1.0
6838,465,unknown,82,Female,Comoros,Kentucky,Haleland,noemail@example.com,2025-04-23,NaN,...,Well analysis right among.,VIP,2025-03-31,Phone,521.91,493.74,-281,Senior,2,NaN

In [ ]:
max_feedback = df.loc[df['Feedback_Score'].idxmax()]
max_feedback

Customer_ID                                                  7391
Name                                                Alice Bentley
Age                                                            90
Gender                                                       Male
Country                                                      Guam
State                                                      Hawaii
City                                             West Michaeltown
Email                                         alawson@hotmail.com
Signup_Date                                   2021-10-04 00:00:00
Account_Status                                           Inactive
Product_ID                                                    320
Product_Name                                                 lead
Category                                                     Misc
Price                                                      270.44
Discount                                                      NaN
Quantity                                                        8
Purchase_Date                                 2025-01-03 00:00:00
Delivery_Date                                 2025-02-09 00:00:00
Payment_Type                                                  Upi
Feedback_Score                                                6.0
Comments               House red degree choose mother peace fear.
Customer_Loyalty                                              NaN
Last_Login                                    2025-08-19 00:00:00
Signup_Channel                                                App
Total_Purchase                                            2163.52
Discounted_Price                                              NaN
Delivery_Duration                                              37
Age_Group                                                  Senior
Gender_Code                                                     1
Account_Status_Code                                           0.0
Name: 63, dtype: object

In [ ]:
min_feedback = df.loc[df['Feedback_Score'].idxmin()]
min_feedback

Customer_ID                                    5304
Name                                 David Holloway
Age                                              30
Gender                                         Male
Country                                   Nicaragua
State                                       Montana
City                                      Nancybury
Email                  angelaanthony@carpenter.info
Signup_Date                     2022-12-11 00:00:00
Account_Status                               Banned
Product_ID                                      206
Product_Name                                   then
Category                                       Misc
Price                                         48.82
Discount                                      21.57
Quantity                                         20
Purchase_Date                   2025-08-24 00:00:00
Delivery_Date                   2025-05-19 00:00:00
Payment_Type                                   Cash
Feedback_Score                                  0.0
Comments                         Field why his age.
Customer_Loyalty                          Returning
Last_Login                      2025-09-21 00:00:00
Signup_Channel                                  app
Total_Purchase                                976.4
Discounted_Price                              27.25
Delivery_Duration                               -97
Age_Group                                     Adult
Gender_Code                                       1
Account_Status_Code                            -1.0
Name: 249, dtype: object

In [ ]:
grouped_purchase = df.groupby(['Country','Category'])['Total_Purchase'].sum().reset_index()
grouped_purchase

         Country     Category  Total_Purchase
0    Afghanistan     Clothing        10926.08
1    Afghanistan  Electronics        20519.32
2    Afghanistan         Misc        63391.79
3    Afghanistan         misc        52536.30
4        Albania     Clothing        48820.78
..           ...          ...             ...
967       Zambia         misc        37818.12
968     Zimbabwe     Clothing        44590.88
969     Zimbabwe  Electronics        60527.83
970     Zimbabwe         Misc        27229.12
971     Zimbabwe         misc        26756.68

[972 rows x 3 columns]